Rediscuss file presentations incl. formalization of access modalities

I would like to rediscuss the way files are represented in openMINDS currently. The following aspects seem to be non-ideal:

- distinction of the location/access url and "file" since the same file could potentially have multiple locations
- properties in file representations which are usually not easily automatically acquired (such as "specialUsageRole", "contentDescription" etc.) should be extracted from the "file" entity to simplify automatic ingestion
- for access protected resources (this is also relevant e.g. for protected web services), we should find a way to formalize the authentication protocols required for such a file so automated pipelines have a chance to execute the proper steps for gathering a valid token and to properly authenticate.

Also in this aspect, we might want to think about how to deal with archives (ZIP / TARs) and/or the "FileArchive" schema

I'll merge the issue.


I think #318 is also relevant. We probably need a brainstorming meeting to work through all of this.

PS (from @apdavison) this includes also better representations of archived or secondary repositories.

Existing schemas that needs to be revised in this context:

1. File
2. File Bundle
3. File Repository
4. File Archive
5. Web Resource
6. digital identifiers (DOI, ORCID, etc)

New schemas that need to be discussed here, that are also relevant for other issues:
6. Communication Protocol Types
7. ?

New schemas that potentially could be needed here:
8. Resource Identifier Standard
9. ?

Resource Identifier Standards (library)
│
├── URI (RFC 3986)
│   ├── URL (RFC 3986 subset, locators)
│   └── URN (RFC 8141, names)
│
└── IRI (RFC 3987, internationalized)
    ├── IRL (internationalized URL)
    └── IRN (internationalized URN)